<!DOCTYPE html>
<html lang="en" ng-app="pizzaparty">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.min.css")}}">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <script src="{{ url_for("static", filename="js/angular.min.js")}}"></script>
  <script src="{{ url_for("static", filename="js/controllers.js")}}"></script>
  <style>
    .navbar {
      height: 110px;
      background: #F7E7C6; 
    }
    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  </style>
</head>
<body ng-controller="MainCtrl">
  <div class="container-fluid">
    <div class="row-fluid">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img alt="PizzaParty" src="{{ url_for("static", filename="img/logo.jpg")}}">
            </a>
          </div>
        </div>
      </nav>
    </div> <!-- row-fluid -->  
    <div class="row-fluid">
      {% raw %}
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Slices</th>
          <th>Toppings</th>
        </thead>
        <tr ng-repeat="member in members">
        <td>{{member.name}}</td>
        <td>{{member.slices}}</td>
        <td>{{prettytoppings(member.toppings)}}</td>
  <script src="{{ url_for("static", filename="js/angular.min.js")}}"></script>
        </tr>
      </table>  
      {% endraw %}
    </div>
    </div>
</body>
</html>
